<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/dashboard.css' %}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <title>OneSchool - Lecture</title>
</head>
<body class="d-flex flex-column">
    <div id="page-content">
	<div class="container">
		<h1 class="my-4">Sample Lecture
			<small>Lecture Topic</small>
		</h1>
		<div class="row">
			<div class="col-md-8">
				<img class="img-fluid" src="http://placehold.it/750x500" alt="">
			</div>
			<div class="col-md-4">
				<h3 class="my-3">Assignments</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim.</p>
				<h3 class="my-3">Other Resources</h3>
				<ul>
					<li>Assignments</li>
					<li>Notes</li>
					<li>Books</li>
				</ul>
			</div>
		</div>
		<h3 class="my-4">Related Lectures</h3>
		<div class="row">
			<div class="col-md-3 col-sm-6 mb-4">
				<a href="#">
							<img class="img-fluid" src="http://placehold.it/500x300" alt="">
						</a>
			</div>
			<div class="col-md-3 col-sm-6 mb-4">
				<a href="#">
							<img class="img-fluid" src="http://placehold.it/500x300" alt="">
						</a>
			</div>
			<div class="col-md-3 col-sm-6 mb-4">
				<a href="#">
							<img class="img-fluid" src="http://placehold.it/500x300" alt="">
						</a>
			</div>
			<div class="col-md-3 col-sm-6 mb-4">
				<a href="#">
							<img class="img-fluid" src="http://placehold.it/500x300" alt="">
						</a>
			</div>
		</div>
	</div>
  </div>
  <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>
</body>
</html>
