{% extends "base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <div class="features-clean pt-5">
        <div class="container pt-5">
            <div class="row features pt-5">
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-chalkboard-teacher icon"></i>
                    <h3 class="name">e-learning</h3>
                    <p class="description">Deliver enhanced learning through recorded lectures and live sessions*</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-comments icon"></i>
                    <h3 class="name">Real-time discussions</h3>
                    <p class="description">Engage in real-time discussions between teachers and students</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-eye-slash icon"></i>
                    <h3 class="name">Content Privacy</h3>
                    <p class="description">Your videos are visible only to your audience. Content is private and accessible only by the students of your institution</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-book-open icon"></i>
                    <h3 class="name">Integrate Textbook</h3>
                    <p class="description">Show digital textbook and assignments along with your lectures to assist better explanations</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-bell icon"></i>
                    <h3 class="name">Notifications</h3>
                    <p class="description">Instant notifications about new lectures to the students</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-chart-line icon"></i>
                    <h3 class="name">Analytics</h3>
                    <p class="description">As a teacher, it is important to know if your students are understanding the concepts. Dig into the analytics and see how much time are the students spending on understanding</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-infinity icon"></i>
                    <h3 class="name">Upload Upto 7000 hrs of Content</h3>
                    <p class="description">Don't let limits stop you from teaching. Upload unlimited content for your students</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-file-import icon"></i>
                    <h3 class="name">Import Current Data</h3>
                    <p class="description">Import data from your current provider</p>
                </div>
                <div class="col-sm-6 col-lg-4 item"><i class="fa fa-rupee-sign icon"></i>
                    <h3 class="name">Low Cost</h3>
                    <p class="description">Tailored pricing for your tailored needs</p>
                </div>
            </div>
            <div class="intro">
              <p class="text-center">If you are a school administrator, coaching institution or a private tutor, contact for demo and pricing on <a href="mailto:contact@oneschool.pw">contact@oneschool.pw</a> or leave your details in the form below</p>
            </div>
            <div class="row">
              <div class="col-md-5 mx-auto">
                <form id="contact_form" method="POST" action="/contact-us/">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Your Name" required>
                  </div>
                  <div class="form-group">
                    <input type="text" name="institution" class="form-control" placeholder="Institution's Name" required>
                  </div>
                  <div class="form-group">
                    <input type="text" name="designation" class="form-control" placeholder="Designation" required>
                  </div>
                  <div class="form-group">
                    <input type="text" name="phone" class="form-control" placeholder="Phone Number" required>
                  </div>
                  <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="email" required>
                  </div>
                  <div class="mx-auto text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              <div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
{% endblock %}
