{% extends "base.html" %}
{% block content %}
  {% load tz %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/lecture.css' %}">
  <div class="container pt-5">
    <h1 class="my-4">{{lecture.course.standard.name}} - {{lecture.course.subject}}
      <small>Lecture {{lecture.index}} | CH. {{lecture.chapter}} - {{lecture.topic}}</small>
    </h1>
    <div class="row">
      {% for recording in recordings %}
        <div class="col-md-8">
          {% if recording.link %}
            <div data-vimeo-url="{{recording.link}}" data-vimeo-height="400px" id="vimeo_video01">
              <script src="https://player.vimeo.com/api/player.js"></script>
              <script>
                  $( document ).ready(function() {
                       var options = {
                          "title": false,
                          "speed": true,
                          "controls": true,
                       }
                       var video01Player = new Vimeo.Player('vimeo_video01', options);
                       video01Player.on('play', function() {
                         console.log('Played the first video');
                       });
                   });
              </script>
            </div>
          {% else %}
            <video height="400" class="img-fluid" src="{{recording.media.url}}" alt="" controls controlsList="nodownload noremoteplayback" cross-origin="use-credentials">
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="row">
      <div class="col-md-4">
        {% if lecture.course.textbook %}
          <li><a class="white" href="{{assignment.media.url}}">{{lecture.course.textbook.url}}</a></li>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h3 class="my-3">Assignments</h3>
        <ul class="list-unstyled">
          {% for assignment in assignments %}
            <li><a class="white" href="{{assignment.media.url}}">{{assignment.media.name}}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Discussions</h3>
        <form id="new_comment" method="POST" action="/lecture/post-comment/">
          {% csrf_token %}
          <input type="hidden" name="lecture_id" value="{{lecture.id}}">
          <div class="form-group">
            <label for="comment">Ask a question:</label>
            <textarea class="form-control" name="comment" rows="3" cols="70" minlength="30" maxlength="1000" wrap></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-dark float-right">Post</button>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul id="discussions" class="list-unstyled">
          {% for discussion in discussions reversed %}
            <small>{{discussion.user.first_name}} {{discussion.user.last_name}}</small>
            <small class="float-right">{{discussion.date_created}}</small>
            <li>{{discussion.comment}}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <script src="{% static 'js/lecture.js' %}"></script>
{% endblock %}
