{% extends "base.html" %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
    <div id="page-content">
	<div class="container">
    <h1 class="my-4">{{lecture.course.standard}} - {{lecture.course.subject}}
      <small>Lecture {{lecture.index}} | {{lecture.chapter}} - {{lecture.topic}}</small>
		</h1>
		<div class="row">
			<div class="col-md-8">
        <video class="img-fluid" src="{{recording.media.url}}" alt="" controls controlsList="nodownload noremoteplayback">
			</div>
			<div class="col-md-4">
        {% if lecture.course.textbook %}
        <object width="400" height="500" type="application/pdf" data="{{lecture.course.textbook.url}}">
          <p>PDF cannot be displayed.</p>
        </object>
        {% endif %}
				<h3 class="my-3">Assignments</h3>
				<ul>
					{% for assignment in assignments %}
						<li><a href="{{assignment.media.url}}">{{assignment.media.name}}</a></li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
  </div>
{% endblock %}
